ul.info-percorso,
ul.info-percorso-amici
{
   list-style-type: none;
   padding: 0;
}

span.proprieta
{
   font-weight: bold;
   display: inline-block;
}

span.proprieta:after
{
   content: ":";
}

#percorso-verde
{
   font-weight: bold;
   color: #008000;
}

#da-link,
#a-link
{
   display: block;
   margin-top: .5em;
   font-size: 1.1em;
}

.social-link
{
   text-decoration: none;
}

#map
{
   width: 100%;
   height: 250px;
   text-align: center;
}
/*************************
         CREDITI
**************************/
.ui-li-thumb
{
   padding-left: 1.5em;
}

.foto
{
   display: block;
   margin: 0px auto;
}

dl.informazioni dt
{
   font-weight: bold;
}